<div class="country-container mt-3">
    <div class="container-fluid">
      <div class="card card-custom example example-compact gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label font-weight-bold">Change Password</h3>
          </div>
         <div class="card-body">
            <form [formGroup]="changepasswordForm" (ngSubmit)="changePassword()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Password
                            </label>
                            <input type="password" class="form-control" formControlName="password"
                            [ngClass]="{ 'is-invalid': cp.password.touched && cp.password.errors }">
        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                New Password
                            </label>
                            <input type="password" class="form-control" formControlName="new_password"
                            [ngClass]="{ 'is-invalid': cp.new_password.touched && cp.new_password.errors }">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                               Confirm New Password
                            </label>
                            <input type="password" class="form-control" formControlName="confirm_new_password"
                            [ngClass]="{ 'is-invalid': cp.touched && cp.confirm_new_password.errors }" required>
                            <span class="text-danger"
                            *ngIf="cp.confirm_new_password.touched && cp.confirm_new_password.errors?.passwordMismatch">
                            Passwords doesnot match
                        </span>
                        </div>
                        
     
                    </div>
                   
                </div>
    
            <div class="pswdbtn">
                <button  type="button" class="btn pswd_btn btn-primary" (click)="changePassword()" [disabled]="!changepasswordForm.valid">Submit</button>
            </div>
        </form>
         </div>
        </div>
    </div>
  </div>

  