.is-invalid{
    border: 1px solid #f90628d9 !important;
}

.btnDisabled{
    background: #a7afab !important;
    border: 1px solid #a7afab !important;
}

.color-red{
    color: red;
    
}

.button{
    a{
        background-color:  #437289;
        color: white;
    }
}


