<div class="page-wrap height-100 black">
  <!-- <div class="row">
    <div class="logo-content">
      <img src="./assets/PreviaLogo.png">
    </div>
  </div> -->
  <div class="row m-0 justify-content-between">
    <div class="left_content">
      <div class="media">
        <div class="d-flex images">
          <h3 class="title">Previa Health <span>|</span> Portal</h3>
          <!-- <img class="img-1" src="./assets/check-1.png" alt="">
          <img class="img-2" src="./assets/check-2.png" alt="">
          <img class="img-3" src="./assets/check-3.png" alt=""> -->
        </div>
        <div class="media-body">
          <!-- <h4 class="m-t-center sub-title">COVISURE by Previa Health</h4>
          <p class="m-t-center">
            Onsite COVID Testing and Sample Collection Please Register here for COVID Test.
          </p> -->
        </div>

        <div class="logo_content">
          <img class="logo" src="./assets/PreviaLogo.png">
        </div>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6  mt-2">
      <div class="register-session-page">
        <a href="https://previahealth.in/packages.html">
          <img class="banner-logo" src="assets/banner.png" />
        </a>

      </div>

      <!-- 
      <mat-tab-group class="register-session-page ">
        <mat-tab> -->
      <!-- label="Sign Up" -->
      <!-- <ng-template mat-tab-label>
            <span class="mat_tab">Sign In</span>
          </ng-template>
          <div class="signin_content-tab">
            <div class="session-form-hold">
              <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>



              <mat-card>
                <mat-card-content>
                  <div class="text-center pt-8 pb-16"> -->
      <!-- <h1>PREVIA HEALTH</h1> -->
      <!-- <img src="./assets/PreviaLogo.png"> -->
      <!-- <img width="60px" src="../../../assets/signin.jpg" alt=""> -->
      <!-- <h2>Sign In</h2> -->
      <!-- </div>

                  <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p> -->
      <!-- novalidate="novalidate" -->
      <!-- (ngSubmit)="signin()" -->
      <!-- <form [formGroup]="signinForm"  >
                    <div class="text-center" *ngIf="!showVerifyotp">
                      <div class="">
                        <mat-form-field class="full-width">
                          <input matInput [formControl]="signinForm.controls['username']"
                            placeholder="Enter Email/Mobile No" value=""
                            [ngClass]="{ 'is-invalid': isSubmit && sinf.username.errors }"  />
                        </mat-form-field>
                        <div *ngIf="isSubmit && sinf.username.errors" class="invalid-feedback">
                          <div *ngIf="sinf.username.errors.required">Enter Email/Mobile number</div>
                        </div>

                      </div>

                      <div class="">
                        <mat-form-field class="full-width">
                          <input type="password" matInput [formControl]="signinForm.controls['password']"
                            placeholder="Enter Password" [ngClass]="{ 'is-invalid': isSubmit && sinf.password.errors }"
                            >
                        </mat-form-field>
                        <div *ngIf="isSubmit && sinf.password.errors" class="invalid-feedback">
                          <div *ngIf="sinf.password.errors.required">Enter Email/Mobile number</div>
                        </div>

                      </div>

                      <button mat-raised-button class="mat-primary  mb-1 signinbtn" (click)="signin()">Sign In</button>

                      <div class="text-right mb-2 signup"> -->
      <!-- <a [routerLink]="'/session/forgotpassword'" class="mat-primary  full-width">Forgot password?</a> -->
      <!-- <span fxFlex></span>&nbsp; -->
      <!-- <a [routerLink]="'/sessions/signup'" class="mat-primary  full-width">Create a new account</a> -->
      <!-- </div>
                      <p class="text-center">(OR)</p>
                    
                      <button mat-raised-button class="mat-primary  mb-1"  (click)="requestOTP()" > Request OTP</button>
                    </div>
                  </form>

                  <div class="text-center" *ngIf="showVerifyotp">
                    <form [formGroup]="signinVerifyOtpForm">
                    <mat-form-field class="full-width">
                      <input matInput [formControl]="signinVerifyOtpForm.controls['otp']"
                        placeholder="Enter OTP" value="">
                    </mat-form-field>

                    <button mat-raised-button class="mat-primary  mb-1"
                      [ngClass]="{'btnDisabledd':!signinVerifyOtpForm.valid}"
                      [disabled]="!signinVerifyOtpForm.valid" (click)="loginOtpVerify()">Verify
                    </button>
                    <div class="row mt-2 text_info mat-primary cursor_info">
                      <div class="col-6 otp-content" (click)="backTosignIn()">Change Email/Mobile Number</div>
                      <div class="col-6 otp-content text-right mat-primary" (click)="resendSigninOtp()">Resend OTP
                      </div>
                    </div>
                    </form>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <!-- label="Sign Up" class="frist" -->
      <!-- <ng-template mat-tab-label>
            <span class="mat_tab">Sign Up</span>
          </ng-template>
          <div class="signup_content-tab">

            <div class="">

              <div class="session-form-hold  ">
                <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>



                <mat-card>
                  <mat-card-content>
                    <div class="text-center pt-8 pb-16"> -->


      <!-- <h2>Sign Up</h2> -->
      <!-- </div>

                    <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>

                    <form [formGroup]="registerForm">
                      <div class="text-center" *ngIf="!showVerify">
                        <mat-form-field class="full-width">
                          <input matInput [formControl]="registerForm.controls['email']" placeholder="Enter Email"
                            [ngClass]="{ 'is-invalid': issubmitted && sin.email.errors }" (change)="onChangeEmail($event)"  />
                        </mat-form-field>
                        <div *ngIf="issubmitted && sin.email.errors" class="invalid-feedback">
                          <div *ngIf="sin.email.errors.required">email is required</div>
                        </div>
                        <p class="text-center">(OR)</p>
                        <mat-form-field class="full-width">
                          <input matInput [formControl]="registerForm.controls['mobileNo']"
                            placeholder="Enter Mobile No" minlength="10" maxlength="10"
                            (keypress)="checkIfNumber($event)" (change)="onChangeMobileNumber($event)">
                        </mat-form-field> -->
      <!-- [ngClass]="{ 'is-invalid': submitted && sin.mobileNo.errors }" required -->
      <!-- <div *ngIf="submitted && sin.mobileNo.errors" class="invalid-feedback">
                          <div *ngIf="sin.mobileNo.errors.required">mobile number is required</div>
                      </div> -->

      <!-- <button mat-raised-button class="mat-primary  mb-1" (click)="submitSignup()">Sign Up
                        </button>
                      </div>
                    </form>




                    <form [formGroup]="signupVerifyOtpForm">
                      <div class="text-center" *ngIf="showVerify">
                        <mat-form-field class="full-width">
                          <input matInput name="otp" [formControl]="signupVerifyOtpForm.controls['otp']"
                            placeholder="Enter OTP" value="">
                        </mat-form-field>

                        <button mat-raised-button class="mat-primary  mb-1"
                          [ngClass]="{'btnDisabledd':!signupVerifyOtpForm.valid}"
                          [disabled]="!signupVerifyOtpForm.valid" (click)="checkOTP()">Verify
                        </button>
                        <div class="row mt-2 text_info mat-primary cursor_info">
                          <div class="col-6 otp-content" (click)="backTosingUp()">Change Email/Mobile Number</div>
                          <div class="col-6 otp-content text-right mat-primary" (click)="resendSignupOtp()">Resend OTP
                          </div>
                        </div>
                      </div>

                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>

       


      </mat-tab-group> -->

      <!-- <div class="border-right"></div> -->


    </div>


    <div class="col-md-6 mt-2 mb-2">

      <mat-tab-group class="register-session-page">
        <mat-tab>
          <!-- label="Sign Up" -->
          <ng-template mat-tab-label>
            <span class="mat_tab">Sign In</span>
          </ng-template>
          <div class="signin_content-tab">
            <div class="session-form-hold">
              <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>



              <mat-card>
                <mat-card-content>
                  <div class="text-center pt-8 pb-16">
                    <!-- <h1>PREVIA HEALTH</h1> -->
                    <!-- <img src="./assets/PreviaLogo.png"> -->
                    <!-- <img width="60px" src="../../../assets/signin.jpg" alt=""> -->
                    <!-- <h2>Sign In</h2> -->
                  </div>

                  <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>
                  <!-- novalidate="novalidate" -->
                  <!-- (ngSubmit)="signin()" -->
                  <form [formGroup]="signinForm">
                    <div class="text-center" *ngIf="!showVerifyotp">
                      <div class="">
                        <mat-form-field class="full-width">
                          <input matInput [formControl]="signinForm.controls['username']"
                            placeholder="Enter Email/Mobile No" value=""
                            [ngClass]="{ 'is-invalid': isSubmit && sinf.username.errors }" />
                        </mat-form-field>
                        <div *ngIf="isSubmit && sinf.username.errors" class="invalid-feedback">
                          <div *ngIf="sinf.username.errors.required">Enter Email/Mobile number</div>
                        </div>

                      </div>

                      <div class="">
                        <mat-form-field class="full-width">
                          <input type="password" matInput [formControl]="signinForm.controls['password']"
                            placeholder="Enter Password" [ngClass]="{ 'is-invalid': isSubmit && sinf.password.errors }">
                        </mat-form-field>
                        <div *ngIf="isSubmit && sinf.password.errors" class="invalid-feedback">
                          <div *ngIf="sinf.password.errors.required">Enter Email/Mobile number</div>
                        </div>

                      </div>

                      <button mat-raised-button class="mat-primary  mb-1 signinbtn" (click)="signin()">Sign In</button>

                      <div class="text-right mb-2 signup">
                        <!-- <a [routerLink]="'/session/forgotpassword'" class="mat-primary  full-width">Forgot password?</a> -->
                        <!-- <span fxFlex></span>&nbsp; -->
                        <!-- <a [routerLink]="'/sessions/signup'" class="mat-primary  full-width">Create a new account</a> -->
                      </div>
                      <p class="text-center">(OR)</p>

                      <button mat-raised-button class="mat-primary  mb-1" (click)="requestOTP()"> Request OTP</button>
                    </div>
                  </form>

                  <div class="text-center" *ngIf="showVerifyotp">
                    <form [formGroup]="signinVerifyOtpForm">
                      <mat-form-field class="full-width">
                        <input matInput [formControl]="signinVerifyOtpForm.controls['otp']" placeholder="Enter OTP"
                          value="">
                      </mat-form-field>

                      <button mat-raised-button class="mat-primary  mb-1"
                        [ngClass]="{'btnDisabledd':!signinVerifyOtpForm.valid}" [disabled]="!signinVerifyOtpForm.valid"
                        (click)="loginOtpVerify()">Verify
                      </button>
                      <div class="row mt-2 text_info mat-primary cursor_info">
                        <div class="col-6 otp-content" (click)="backTosignIn()">Change Email/Mobile Number</div>
                        <div class="col-6 otp-content text-right mat-primary" (click)="resendSigninOtp()">Resend OTP
                        </div>
                      </div>
                    </form>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-tab>

        <mat-tab>
          <!-- label="Sign Up" class="frist" -->
          <ng-template mat-tab-label>
            <span class="mat_tab">Sign Up</span>
          </ng-template>
          <div class="signup_content-tab">

            <div class="">

              <div class="session-form-hold  ">
                <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>



                <mat-card>
                  <mat-card-content>
                    <div class="text-center pt-8 pb-16">


                      <!-- <h2>Sign Up</h2> -->
                    </div>

                    <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p>

                    <form [formGroup]="registerForm">
                      <div class="text-center" *ngIf="!showVerify">
                        <mat-form-field class="full-width">
                          <input matInput [formControl]="registerForm.controls['email']" placeholder="Enter Email"
                            [ngClass]="{ 'is-invalid': issubmitted && sin.email.errors }"
                            (change)="onChangeEmail($event)" />
                        </mat-form-field>
                        <div *ngIf="issubmitted && sin.email.errors" class="invalid-feedback">
                          <div *ngIf="sin.email.errors.required">email is required</div>
                        </div>
                        <p class="text-center">(OR)</p>
                        <mat-form-field class="full-width">
                          <input matInput [formControl]="registerForm.controls['mobileNo']"
                            placeholder="Enter Mobile No" minlength="10" maxlength="10"
                            (keypress)="checkIfNumber($event)" (change)="onChangeMobileNumber($event)">
                        </mat-form-field>
                        <!-- [ngClass]="{ 'is-invalid': submitted && sin.mobileNo.errors }" required -->
                        <!-- <div *ngIf="submitted && sin.mobileNo.errors" class="invalid-feedback">
                          <div *ngIf="sin.mobileNo.errors.required">mobile number is required</div>
                      </div> -->

                        <button mat-raised-button class="mat-primary  mb-1" (click)="submitSignup()">Sign Up
                        </button>
                      </div>
                    </form>




                    <form [formGroup]="signupVerifyOtpForm">
                      <div class="text-center" *ngIf="showVerify">
                        <mat-form-field class="full-width">
                          <input matInput name="otp" [formControl]="signupVerifyOtpForm.controls['otp']"
                            placeholder="Enter OTP" value="">
                        </mat-form-field>

                        <button mat-raised-button class="mat-primary  mb-1"
                          [ngClass]="{'btnDisabledd':!signupVerifyOtpForm.valid}"
                          [disabled]="!signupVerifyOtpForm.valid" (click)="checkOTP()">Verify
                        </button>
                        <div class="row mt-2 text_info mat-primary cursor_info">
                          <div class="col-6 otp-content" (click)="backTosingUp()">Change Email/Mobile Number</div>
                          <div class="col-6 otp-content text-right mat-primary" (click)="resendSignupOtp()">Resend OTP
                          </div>
                        </div>
                      </div>

                    </form>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>




      </mat-tab-group>

      <!-- <div class="border-right"></div> -->


    </div>

    <!-- <div class="text-center">
        <div class="session-form-hold-register">
          <mat-progress-bar mode="determinate" class="session-progress"></mat-progress-bar>




          <mat-card>
            <mat-card-content>
              <div class="text-center pt-8 pb-16">
                <p class="mb-0">Thank you for your interest in getting vaccinated with Previa Health. We are offering
                  COVISHIELD and COVAXIN vaccine with the convenience of administration in your community or at your
                  workplace. Please
                  fill and submit the following details and we will reach out to you.</p>
                <h2>Register for Vaccination</h2>
              </div> -->

    <!-- <p *ngIf="errorMsg" class="text-center"><small class="text-red">{{errorMsg}}</small></p> -->
    <!-- 
              <form [formGroup]="vaccineRegisterForm">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput [formControl]="vaccineRegisterForm.controls['userName']"
                        placeholder="Enter Name" [ngClass]="{ 'is-invalid': submitted && sinr.userName.errors }"
                        />
                    </mat-form-field>
                    <div *ngIf="submitted && sinr.userName.errors" class="invalid-feedback">
                      <div *ngIf="sinr.userName.errors.required">Name is required</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput  formControlName="email_Address"
                       type="email"   [ngClass]="{ 'is-invalid': sinr.email_Address.touched   && sinr.email_Address.errors }" 
                        placeholder="Enter Email"  />
                    </mat-form-field>
                    <div *ngIf="submitted && sinr.email_Address.errors" class="invalid-feedback">
                      <div *ngIf="sinr.email_Address.errors.required">Email is required</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput [formControl]="vaccineRegisterForm.controls['mobileNumber']"
                        placeholder="Enter Mobile" (keypress)="checkIfNumber($event)"
                        [ngClass]="{ 'is-invalid': submitted && sinr.mobileNumber.errors }" />
                    </mat-form-field>
                    <div *ngIf="submitted && sinr.mobileNumber.errors" class="invalid-feedback">
                      <div *ngIf="sinr.mobileNumber.errors.required">Mobile is required</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput [formControl]="vaccineRegisterForm.controls['aadhaar']" placeholder="Enter Aadhaar"
                        (keypress)="checkIfNumberAadhar($event)"
                        [ngClass]="{ 'is-invalid': submitted && sinr.aadhaar.errors }" />
                    </mat-form-field>
                    <div *ngIf="submitted && sinr.aadhaar.errors" class="invalid-feedback">
                      <div *ngIf="sinr.aadhaar.errors.required">Aadhar card is required</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput [formControl]="vaccineRegisterForm.controls['organization']"
                        placeholder="Enter Organization Name"
                        [ngClass]="{ 'is-invalid': submitted && sinr.organization.errors }" />
                    </mat-form-field>
                    <div *ngIf="submitted && sinr.organization.errors" class="invalid-feedback">
                      <div *ngIf="sinr.organization.errors.required">Organization is required</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <input matInput [formControl]="vaccineRegisterForm.controls['address']"
                        placeholder="Enter Address" [ngClass]="{ 'is-invalid': submitted && sinr.address.errors }"
                        />
                    </mat-form-field>
                    <div *ngIf="submitted && sinr.address.errors" class="invalid-feedback">
                      <div *ngIf="sinr.address.errors.required">Address is required</div>
                    </div>
                  </div>
                  <div class="col-md-6"> -->
    <!-- <div class="form-group">
                      <select class="form-control border_bottom select-gender"
                        [formControl]="vaccineRegisterForm.controls['gender']"
                        [ngClass]="{ 'is-invalid': submitted && sinr.gender.errors }" >
                        <option hidden value="" disabled selected>Select Gender </option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>

                      </select>
                    </div> -->

    <!-- <mat-form-field  class="full-width">
                      <mat-label>Select Gender</mat-label>
                      <mat-select class="" [formControl]="vaccineRegisterForm.controls['gender']"  [ngClass]="{ 'is-invalid': submitted && sinr.gender.errors }">
                    
                        <mat-option value="Male">
                          Male
                        </mat-option>
                        <mat-option value="Female">
                        Female
                        </mat-option>
                        <mat-option value="Other">
                          Other
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="submitted && sinr.gender.errors" class="invalid-feedback">
                      <div *ngIf="sinr.gender.errors.required">Gender is required</div>
                    </div>
                  </div>
                  <div class="col-md-6"> -->
    <!-- <select class="form-control border_bottom"
                    [formControl]="vaccineRegisterForm.controls['vaccineName']"
                    [ngClass]="{ 'is-invalid': submitted && sinr.vaccineName.errors }" >
                    <option hidden value="" disabled selected>Select Vaccine </option>
                      <option value="covishield">Covishield</option>
                      <option value="covaxin">Covaxin</option>
                   

                    </select> -->
    <!-- <mat-form-field  class="full-width">
                      <mat-label>Select Vaccine</mat-label>
                      <mat-select class="" [formControl]="vaccineRegisterForm.controls['vaccineName']"
                       [ngClass]="{ 'is-invalid': submitted && sinr.vaccineName.errors }">
                    
                        <mat-option value="covishield">Covishield</mat-option>
                        <mat-option value="covaxin">Covaxin</mat-option>
                     
                      </mat-select>
                    </mat-form-field>


                    <div *ngIf="submitted && sinr.vaccineName.errors" class="invalid-feedback">
                      <div *ngIf="sinr.vaccineName.errors.required">Vaccine is required</div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field  class="full-width">
                      <mat-label>Select  Vaccination Dose</mat-label>
                      <mat-select class="" [formControl]="vaccineRegisterForm.controls['dose']"
                      [ngClass]="{ 'is-invalid': submitted && sinr.dose.errors }">
                    
                        <mat-option value="1">
                          Vaccination Dose 1
                        </mat-option>
                        <mat-option value="2">
                          Vaccination Dose 2
                        </mat-option>
                      </mat-select>
                    </mat-form-field> -->
    <!-- <select class="form-control border_bottom select-gender"
                      [formControl]="vaccineRegisterForm.controls['dose']"
                      [ngClass]="{ 'is-invalid': submitted && sinr.dose.errors }" >
                      <option hidden value="" disabled selected>Select Vaccination Dose </option>
                      <option value="1">Vaccination Dose 1</option>
                      <option value="2">Vaccination Dose 2</option>


                    </select> -->

    <!-- <div *ngIf="submitted && sinr.dose.errors" class="invalid-feedback">
                      <div *ngIf="sinr.dose.errors.required">Dose is required</div>
                    </div>
                  </div>
                  <div class="col-md-6"> -->
    <!-- <select class="form-control border_bottom"
                    [formControl]="vaccineRegisterForm.controls['noOfPersons']"
                      [ngClass]="{ 'is-invalid': submitted && sinr.noOfPersons.errors }" >
                      <option hidden value="" disabled selected>Select No of Persons </option>
                      <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                        <option value="80">80</option>
                        <option value="90">90</option>
                        <option value="100">100</option>
                  


                    </select> -->
    <!-- 
                    <mat-form-field  class="full-width">
                      <mat-label>Vaccine Quantity</mat-label>
                      <mat-select class="" [formControl]="vaccineRegisterForm.controls['noOfPersons']"
                      [ngClass]="{ 'is-invalid': submitted && sinr.noOfPersons.errors }">
                        <mat-option value="10">10</mat-option>
                        <mat-option value="20">20</mat-option>
                        <mat-option value="30">30</mat-option>
                        <mat-option value="40">40</mat-option>
                        <mat-option value="50">50</mat-option>
                        <mat-option value="60">60</mat-option>
                        <mat-option value="70">70</mat-option>
                        <mat-option value="80">80</mat-option>
                        <mat-option value="90">90</mat-option>
                        <mat-option value="100">100</mat-option>
                      
                      </mat-select>
                    </mat-form-field>
                    <div *ngIf="submitted && sinr.noOfPersons.errors" class="invalid-feedback">
                      <div *ngIf="sinr.noOfPersons.errors.required">Persons is required</div>
                    </div>
                  </div>
                  <div class="col-md-6 mt-2">
                    <div class="form-group">
                      <input type="date" class="form-control date-picker border_bottom" id="date1" placeholder="DOB"
                        [formControl]="vaccineRegisterForm.controls['date_of_birth']" (change)="selectedDOB($event)"
                        [ngClass]="{ 'is-invalid': submitted && sinr.date_of_birth.errors }" />
                    </div>
                    <div *ngIf="submitted && sinr.date_of_birth.errors" class="invalid-feedback">
                      <div *ngIf="sinr.date_of_birth.errors.required">DOB is required</div>
                    </div>
                  </div> 

                 
                </div>
                <button mat-raised-button class="mat-primary  mb-1 register_btn1" [ngClass]="{'btnDisabled':!vaccineRegisterForm.valid}" [disabled]="!vaccineRegisterForm.valid" (click)="submitVaccination()">Register
                </button>

              </form>

   

            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div> -->
  </div>

</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white">Processing... </p>
</ngx-spinner>