.card-header{
    display: flex;
    justify-content: space-between;
}
.img_info{
    height: 50%;
    width: 90%;
}

.btn_close{
    box-shadow: none;
    outline: none;
    background-color: #00c9d1 !important;
    color: white;
}

.btnDisabled{
    background: #a7afab !important;
    border: 1px solid #a7afab !important;
    color: white !important;
}

.table_height{
    height: 60vh;
}