.labassign-date{
       // outline: none;
       width: 220px;
       border-radius: 5px;
       height: 30px;
        z-index:2000;
       overflow: visible; 
      margin-left: 20px; 
}
.clear-icon{
    position: absolute;
    top: 14px;
    left: 330px;
}
.action-btn{
    border-radius: 3px;
}