<div class="country-container mt-3">
    <div class="container-fluid">
      <div class="card card-custom example example-compact gutter-b">
        <div class="card-header">
          <div class="card-title">
            <h2 class="card-label">FRONT OFFICE</h2>
          </div>
          <div class="card-toolbar">
            <div class="example-tools justify-content-centerr">
              <button (click)="addFrontOffice()" class="btn btnGroup">
                Add
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="mx-auto" *ngIf="frontOfficeDetails?.length === 0">No Data Found</div>
            <div class="table-responsive example-container mat-elevation-z8"  *ngIf="frontOfficeDetails?.length > 0">
                <table class="table table-hover text-center">
                   <thead>
                       <tr>
                           <th >S.No
                           </th>
                           <th (click)="sortEvent('name')">Name
                            <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'name'" ></i>
                            <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'name'"></i></th>
                           <th (click)="sortEvent('emailAddress')">Email
                            <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'emailAddress'" ></i>
                            <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'emailAddress'"></i></th>
                           <th (click)="sortEvent('mobileNumber')">Mobile
                            <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'mobileNumber'" ></i>
                            <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'mobileNumber'"></i></th>
                           <th  (click)="sortEvent('subdivision')">Sub Division
                            <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'subdivision'" ></i>
                            <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'subdivision'"></i></th>
                            <th  (click)="sortEvent('subdivisionInfo?.name')">Organization
                              <i class="fa fa-chevron-up" *ngIf="sortDirection === 'ASC' && sortvalue === 'subdivisionInfo'" ></i>
                              <i class="fa fa-chevron-down" *ngIf="sortDirection === 'DASC' && sortvalue === 'subdivisionInfo'"></i></th>
                           <th>Action</th>
                           <th>Password</th>
                       </tr>
                   </thead> 
                   <tbody>
                       <tr *ngFor="let item of frontOfficeDetails ; let i=index">
                           <td>{{ i + pageEvent?.pageIndex * pageEvent?.pageSize + 1 }}</td>
                           <td>{{ item?.name | titlecase}}</td>
                           <td>{{ item?.emailAddress }}</td>
                           <td>{{ item?.mobileNumber }}</td>
                           <td>{{ item?.subdivision }}</td>
                           <td>{{item?.subdivisionInfo?.name}}</td>
                           <td>
                            <mat-icon (click)="editFrontOffice(item)">edit</mat-icon>
                            <mat-icon class="delete_icon_color" (click)="deleteFrontOffice(item)">delete</mat-icon>
                           </td>
                           <td>
                            <button (click)="resendPassword(item)" class="btn btnGroup">Resend</button>
                          </td>
                       </tr>
                   </tbody>
                </table>
                <div style="border-bottom: 1px solid #ced4da ; margin-top: -12px;" ></div>
                 <!-- pagination div starts from here -->
                <mat-paginator [length]="length" 
                              [pageSize]="pageSize" 
                              [pageSizeOptions]="pageSizeOptions" 
                              (page)="onPageEvent($event)">
                </mat-paginator>
              
          <!-- pagination div ends here -->
            </div>
        </div>
        </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white">Processing... </p>
  </ngx-spinner>

  