.nav-item a:hover {
  transition: all 300ms linear;
}
.sidebar {
  overflow-y: scroll !important;
  max-width: 210px;
  .sidebar-brand {
    justify-content: center;
    img {
      height: 80px;
      margin-bottom: 20px;
    }
  }
  .sidebar-brand-text {
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 16px;
    list-style: none;
    padding-top: 15px;
    padding: 17px;
    color: black;
    margin-bottom: 41px;
  }
  li {
    list-style: none;
    padding: 10px;
    i {
      margin-right: 7px;
    }
    a {
      text-decoration: none !important;
      padding: 3px;
      color: #00c9d1;
    }
  }
}
.sidebar-dark .nav-item .nav-link {
  font-weight: 600 !important;
}
.sidebar .nav-item:hover {
  color: #fff !important;
  background-color: #437289;
  span {
    color: #fff;
  }
  i {
    color: #fff !important;
  }
  a {
    color: #fff !important;
  }
}
.active {
  background-color: #707070;
  color: #fff !important;
  span {
    color: #fff !important;
  }
  i {
    color: #fff !important;
  }
}
span {
  text-transform: uppercase;
  font-size: 13px;
  // i{
  //   color:   #00c9d1 !important;
  // }
}
::-webkit-scrollbar {
  display: none;
}
.nav-item .nav-link {
  font-weight: 600;
}
.collapse .collapse_bg-hover .collapse-item {
  font-weight: 600;
}
@media print {
  .sidebar {
    display: none;
  }
}
p {
  cursor: not-allowed;
  background-color: none !important;
  opacity: 0.2;
  .active {
    background-color: #fff;
  }
}

.nav-item {
  cursor: pointer;
}
.collapse {
  // i{
  //   margin-right: 7px;
  // }
  a {
    text-decoration: none !important;

    color: #00c9d1;
  }
}
.collapse_bg-hover {
  padding: 10px 10px 10px 28px;
  cursor: pointer;
  a {
    color: #00c9d1;
  }
}

.collapse_bg-hover:hover {
  color: #fff !important;
  background-color: #437289;
  padding: 10px 10px 10px 28px;
  span {
    color: #fff;
  }
  i {
    color: #fff !important;
  }
}

.collapse_sublist {
  font-size: 12px;
}
.collapse_sublist:hover {
  font-size: 12px;
}

.sidebar .navbar-nav .nav-item a:after {
  content: "";
  position: relative;
  top: 5px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  float: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: transform 0.25s linear;
  -webkit-transition: -webkit-transform 0.25s linear;
}

.sidebar .navbar-nav .nav-item a[aria-expanded="true"]:after {
  content: "\f078";
}

.sidebar .navbar-nav .nav-item a[aria-expanded="false"]:after {
  content: "\f054";
}

// .anchor-tag:hover {
//   color: #fff;
// }

// ul {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// .nav li a {
//   font-size: 13px;
// }
// .panel-default>.panel-heading a > span {
//   margin-right:10px;
// }
// #accordionMenu {
//   max-width: 300px;
// }

// .panel-body {
//   padding: 0;
// }

// .panel-group .panel+.panel {
//   margin-top: 0;
//   border-top: 0;
// }

// .panel-group .panel {
//   border-radius: 0;
// }

// // .panel-default>.panel-heading :hover {
// //  background-color: #00c9d1;
// //  color:#fff;
// //   padding: 0;
// //   -webkit-user-select: none;
// //   -moz-user-select: none;
// //   -ms-user-select: none;
// //   user-select: none;
// // }

// .panel-default>.panel-heading a {
//   display: block;
//   padding: 10px;
//   text-decoration: none;
//   color: #00c9d1;
// }
// .panel-default>.panel-heading a:hover {
//   display: block;
//   padding: 10px;
//   text-decoration: none;
//   color: #fff;
//   background-color:#437289 ;

// }

// .panel-body>.nav .nav-subitem:hover {
//   display: block;
//   padding: 10px;
//   text-decoration: none;
//   color: #fff !important;
//   width: 100%;
//   background-color:#437289 ;

// }

// .panel-default>.panel-heading a:after {
//   content: "\e113";
//   position: relative;
//   top: 1px;

//   font-family: '';
//   font-style: normal;
//   font-weight: 400;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   float: right;
//   transition: transform .25s linear;
//   -webkit-transition: -webkit-transform .25s linear;
// }

// .panel-default>.panel-heading a[aria-expanded="true"]:after {
//   content: "\f078";
// }

// .panel-default>.panel-heading a[aria-expanded="false"]:after {
//   content: "\f054" ;
// }

a {
  text-decoration: none !important;
}

.bg_info {
  background-color: blue !important;
}
