<div class="p-3" style="background-color: whitesmoke; height: 85vh;">
    <div class="">
        <div style="display:contents;">
            <div class="row mt-3 mb-2">
                
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">    
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-flask mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Lab User </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>
              
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-hospital-o mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Hospital </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-flask mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Lab User </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-hospital-o mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Hospital </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-flask mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Lab User </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-flask mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Lab User </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-hospital-o mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Hospital </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-flask mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Lab User </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 mb-2">
     
                    <div class="card p-1" style="background-color:#00c9d1; color: #fff;">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="d-flex">
                                    <span class="icons mt-2"><i class="fa fa-flask mr-1"></i></span>
                                     <p class=" p-0 mt-2 border_right_1"></p>
                                   <a  class="anchor_tag">  <h3 class="p-0 mt-1 ml-1">Lab User </h3></a>
                                </div>
                                <!-- <h3 class="p-0 m-0 header-color"> <span
                                        class="ml-2 p-0 m-0">Lab</span> </h3> -->
                            </div>
                           <div class="col-md-2 ">
                                <div class="btn-group dropright">
                                    
                                <h3 class="p-0 m-0 cursor  dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></h3>
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" >Action</a>
                                        <a class="dropdown-item" >Another action</a>
                                        <a class="dropdown-item" >Something else here</a>
                                      </div>
                                </div>
        
                            </div> 


                        </div>

                        <p class="time">14-07-2021, 2:51 PM</p>
                        <div class="row border_btm">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-10">
                              <p class="border-bottom"></p>
                             <div class="badge_list">
                                <span class="badge rounded-circle">1</span> | <span class="badge rounded-circle">2</span> | <span class="badge rounded-circle">3</span> | <span class="badge rounded-circle">4</span> | <span class="badge rounded-circle">5</span>
                             </div>
                            
                            </div>
                        </div>
                    </div>

                </div>

            </div>
           
        </div>
    </div>

</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white">Processing... </p>
  </ngx-spinner>